body {
  background-color: #DCDCDC !important;
}
.starter-template {
  text-align: center;
}

.content{
    width: 400px;
}

.container{
	padding-top: 100px;
	padding: 50px;
}

.carousel-item{
    height: 32rem;
    background: #000;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;

}
.container-fluid{
	padding: 30px;
}
.container-fluid2{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    padding-left: 200px
}
.carousel-inner{
    height: 32rem !important;
    background: #000;
}
.carousel-inner>.item{
    /*disables white flash*/
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
.overlay-image{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.75;
}

.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .7s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}